<!DOCTYPE html>
<html lang="en">

	<head id="head">
		
		<title>List Items</title>
		<meta charset="utf-8"/>	
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content="admin list all items"/>
		<meta name="author" content="scott cagno"/>
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->  
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>		
		<link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css"/>
		<link href="/static/css/custom.css" rel="stylesheet" type="text/css"/>

	</head>

	<body id="body">
		<!-- navbar -->		
		<div id="navbar" class="navbar navbar-default navbar-static-top navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">List Items</a>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/admin">Home</a>
						</li>
						<li>
							<a href="/logout">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- content -->
		<div id="content" class="container">
			<div class="panel panel-default">
	  			<div class="panel-heading col-sm-12">
                    <div class="dropdown pull-right">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="categoryFilter" data-toggle="dropdown">
                            Filter By Category
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="categoryFilter">
                            <#list categories as category>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/admin/list/item?category=${category}">${category}</a>
                                </li>
                            </#list>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/admin/list/item">All Items</a></li>
                        </ul>
                    </div>
                </div>
	  			<div class="panel-body">
					${(msg)! ""}
	  				<div class="table-responsive">
		  				<table class="table">
							<thead>
								<tr>
									<th>Id</th>
									<th>Name</th>
									<th>Description</th>
									<th>Category</th>
									<th>Cost</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<#list items as item>
									<tr>
                                        <td>${item.id}</td>
										<td>${item.name}</td>
										<td>${item.description}</td>
										<td>${item.category}</td>
										<td>${item.cost}</td>
                                        <td>${item.price}</td>
										<td class="col-sm-2">
											<form id="addItemForm" role="form" method="post" action="/add/room/item/${item.id}">
											    <div class="input-group">
											        <input type="text" id="quantity" name="quantity" class="form-control"
											        placeholder="Quantity" required="true"/>
													<span class="input-group-btn">
														<button class="btn btn-md btn-success" type="submit">Add</button>
													</span>
											    </div>
											    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
											</form>
										</td>
									</tr>
								</#list>
							</tbody>
						</table>	
					</div>
				</div>
			</div>
		
		<!-- footer -->
		<div id="footer" class="container"></div>

		<!-- scripts -->
		<div id="scripts">
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
			<script src="/static/js/custom.js"></script>			
		</div>

	</body>

</html>
