<!DOCTYPE html>
<html lang="en">
	<head id="head">
		<title>estimating|list</title>
		<meta charset="utf-8"/>	
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->  
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>		
		<link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css"/>
		<link href="/static/css/custom.css" rel="stylesheet" type="text/css"/>
	</head>
	<body id="body">

		<!-- navbar -->
		<div id="navbar" class="navbar navbar-default navbar-static-top navbar-inverse">
			<div class="container">
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Customers</a>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/app/list/job">All Jobs</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div id="content" class="container">
		    <div id="customerTableDiv" class="col-sm-offset-2 col-sm-8">
		        <div id="customerTablePanel" class="panel panel-default">
		        	<div class="panel-heading col-sm-12">
						Customers
						<a href="/app/add/customer" class="btn btn-default btn-sm pull-right">Add Customer</a>
					</div>
		        	<div class="panel-body">
		        		<div id="customerTable" class="table-responsive">
		        			 <table class="table table-striped">
		        				<thead>
		        					<tr>
		        						<th>Company</th>
		        						<th>Contact</th>
		        						<th>Email</th>
										<th>Jobs</th>
		        						<th>Options</th>
		        					</tr>
		        				</thead>
		        				<tbody>
		        					<#list customers as customer>
										<tr>
											<td>${customer.company}</td>
											<td>${customer.contact}</td>
											<td>${customer.email}</td>
											<td>${customer.getJobCount()}</td>
											<td>
												<a class="btn btn-default btn-xs" href="/app/view/customer/${customer.id}">
													<i class="fa fa-eye"></i>
												</a>
												<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
												<button data-id="${customer.id}" class="btn btn-default btn-xs customerDel" type="submit">
													<i class="fa fa-trash-o"></i>
												</button>
											</td>
										</tr>
		        					</#list>
		        				</tbody>
		        			</table>
		        		</div>
		        	</div>
		        </div>
		    </div>
		</div>

		<div class="modal fade" id="deleteCustomerModal" tabindex="-1" role="dialog" aria-labelledby=""  aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Delete Customer</h4>
					</div>
					<div class="modal-body text-center">
						<p>Deleting this customer will permanently remove them and all of their jobs.</p>
						<p>Are you sure you would like to delete?</p>
						<form id="deleteCustomerForm" method="post">
							<a class="btn btn-success"  data-dismiss="modal">
								No
							</a>
							<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
							<button class="btn btn-danger" type="submit">
								Yes
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- scripts -->
		<div id="scripts">
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
			<script>
				$('button.customerDel').click(function() {
					$('form[id="deleteCustomerForm"]').attr('action', '/app/del/customer/'+this.getAttribute('data-id'));
					$('div[id="deleteCustomerModal"]').modal();
				});
			</script>
		</div>
	</body>
</html>